*
  box-sizing: border-box
body
  +reg
  // line-height: 1
img 
  max-width: 100%
.container
  width: 1170px
  margin: auto
.section
  padding: 60px 0
  // height: 596px
  &-title
    font-size: 23px
    +bold
    text-align: center
  &-subtitle
    display: block
    font-size: 16px
@media (max-width: 1200px)
  .container
    width: 760px
@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%
@media (max-width: 567px)
  .container
    max-width: 487px
    width: 95%
  .button
    border-radius: 5px
@media (max-width: 320px)
  .container
    max-width: 280px
    width: 95%
  .button
    border-radius: 5px !important
    padding: 19px 60px
  .section
    padding: 42px 0
    &-title
      font-size: 18px
      +bold
    &-subtitle
      font-size: 14px
  .navbar
    &-block
      height: 76px
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 18px 30px
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
  &:focus
    outline: none !important

.input
  border: 1px solid $border-input
  padding: 20px 26px
  font-size: 15px
  border-radius: 10px
  &:focus
    outline: none !important
    border-radius: 10px
    border: 1px solid $border-input-focus

.buttonup
  max-width: 70px
  display: none
  opacity: 0.5
  filter: alpha(opacity=50)
  position: fixed
  right: 20px
  bottom: 50px
  color: #000000
  transition: 0.3s
  &:hover
    cursor: pointer
    opacity: 1
    color: #ff0000
@media (max-width: 320px)
  .buttonup
    display: none
    max-width: 30px

.arrows
  &__left, &__right
    &:hover
      cursor: pointer
