.navbar
  padding: 8px 0
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    display: flex
    align-items: center
    // justify-content: flex-end
    text-align: right
  &__contacts
    display: flex
    flex-direction: column
  &__address
    color: $text-color
    font-size: 13px
  &__button
    margin-left: 30px
    color: $text-color
    font-size: 13px
  &__phone
    display: inline-block
    color: $text-color
    font-size: 20px
    text-decoration: none
    margin-top: 9px
    +bold
@media (max-width: 768px)
  .navbar
    &__contacts
      display: none
    &__button
      font-size: 10px
      padding: 12px 26px
    &__logo
      width: 90px

@media (max-width: 320px)
  .navbar
    padding: 0 
    &-block
      margin-top: 16px