.offer
  background: url('../img/offer/offer-bg.png') no-repeat
  background-position: center right
  background-size: contain
  position: relative
  padding: 60px 0
  &:before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: #ffffff
  &-block
    width: 50%
    padding-right: 80px
    position: relative
    padding-bottom: 28px
  &__title
    max-width: 360px
    line-height: 35px
    margin-bottom: 20px
    margin-top: 18px
    letter-spacing: 0.6px 
    text-align: left
  &__subtitle
    max-width: 250px
    margin-bottom: 30px
  &__input
    margin-bottom: 29px
    width: 238px
    min-height: 65px
    &:first-child
      margin-right: 12px
  &__button
    width: 98%
    min-height: 70px
    margin-bottom: 26px
    +bold
  &-text
    display: flex
    &__callback
      // display: block
      width: 296px
      padding-right: 65px
      font-size: 15px
      font-weight: 400
      line-height: 24px
  &-contactus
    display: flex
    flex-direction: column
    font-size: 15px
    font-weight: 400
    line-height: 24px
    &__callus
      // margin-bottom: 10px
    &__phone
      display: inline-block
      color: $text-color
      font-size: 15px
      text-decoration: none
      margin-top: 1px
      +bold
@media (max-width: 1200px)
  background-size: cover
  .offer
    &__input
      width: 100%
      margin-bottom: 10px
    &__button
      font-size: 14px  
@media (max-width: 768px)
  .offer
    background: #ffffff
    &-block
      width: 100%
      padding-bottom: 10px
      padding-right: 0
    &__input
      width: 47%
      margin-bottom: 10px
    &__button
      font-size: 14px   
@media (max-width: 320px)
  .offer
    background: #ffffff
    padding: 42px 0
    &-block
      width: 100%
      padding-bottom: 10px
      padding-right: 0
    &__input
      width: 100%
      margin-bottom: 8px
      font-size: 15px
      padding-left: 21px
    &__button
      font-size: 14px
      margin-bottom: 22px
      padding: 0px 36px
    &__title
      max-width: 274px
      line-height: 21px
      letter-spacing: 0
      margin-top: 8px
    &__subtitle
      margin-bottom: 28px
    &-text
      flex-direction: column
      font-size: 15px
      &__callback
        margin-bottom: 5px
        padding-left: 5px  
    &-contactus
      &__callus
        padding-left: 5px
      &__phone
        padding-left: 5px

